body {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	background-color: #332e21;
}

/* Logo in Top Nav Text */
h1 {
	font-weight: 600;
	margin: 15px 0;
	font-size: 2em;
}

/* Quote Text */
h2 {
	font-family: Arbutus Slab, Georgia, serif;
	font-size: 50pt;
	color: #fff;
	font-weight: 200;
	line-height: 135%;
}

/* Artist Text */
h3 {
	color: #fff;
	font-family: Raleway, Helvetica, Arial, sans-serif;
}

.header, .footer {
	background-color: #332e21;
	color: #fff;
	padding: 5px 0;
}

.gradients {
	background: -webkit-linear-gradient(left top, #7555da, #08c0c2); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #7555da, #08c0c2); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #7555da, #08c0c2); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(bottom right, #7555da , #08c0c2); /* Standard syntax */
  	padding: 5% 0;
		min-height: 80vh;
}


/* Button Styles */
.btn {
	border-radius: 0;
	margin: 10px 20px;
}

#listenLink, #secondBtn {
	display: inline-block;
}

.buttons {
	margin-top: 50px;
}

.btn-dark, .btn-dark:visited, .btn-dark:active {
	background-color: #332e21;
	border: 2px solid rgba(255,255,255,0.4);
	color: #fff;
	font-size: 20px;
	padding: 12px 25px;
}

.btn-outline, .btn-outline:visited, .btn-outline:active {
	background: none;
	border: 2px solid rgba(255,255,255,0.4);
	color: #fff;
	font-size: 20px;
	padding: 12px 25px;
}

.btn-dark:hover, .btn-dark:focus {
	color: #fff;
	border: 2px solid rgba(255,255,255,0.3);
}

.btn-outline:hover, .btn-outline:focus {
	background: rgba(255,255,255,0.2);
	border: 2px solid rgba(255,255,255,0.2);
}

/*
.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited, .btn-dark:focus, .btn-outline, .btn-outline:hover, .btn-outline:active, .btn-outline:active, .btn-outline:visited {
 	color: #fff;
	font-size: 20px;
 	border: 0;
	padding: 12px 25px;
}*/

/*.btn-outline {
	background: none;
	border: 2px solid rgba(255,255,255,0.4);
}*/
/*
.btn-outline:hover, .btn-outline:active {
	background: rgba(255,255,255,0.1);
	color: #fff;
	border: 2px solid rgba(255,255,255,0.2);
}*/

/*.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited, .btn-dark:focus {
	background-color: #332e21;
	border: 2px solid rgba(255,255,255,0.4);
}*/

.btn-dark:hover {
	background-color: #403d34;
}


/* Footer Styles */

.footer {
	padding: 20px 0;
	min-height: 100px;
}

.social-icons {
	font-size: 26px;
	color: #08c0c2;
	margin-left: 10px;
}

.social-icons .fa:hover {
	color: #fff;
}

.social-icons, a, a:visited, a:focus, .fa {
	color: #08c0c2;
}

.social-icons, a:hover, a:active {
	color: #fff;
}


/* Mobile Styles */

@media(max-width: 768px) {
	.mobile-centered {
		text-align:center;
		padding-top: 25px;
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 40pt;
	}
}
